version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: fullstackjs-mongodb
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 123456
      MONGO_INITDB_DATABASE: fullstackjs_db
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ['CMD', 'mongosh', '--eval', 'db.adminCommand("ping")']
      timeout: 20s
      retries: 10
      interval: 10s

volumes:
  mongo_data:
    driver: local
